<nav class="navbar navbar-expand-md navbar-dark primary-color-dark">
  <!-- logo -->
  <a class="navbar-brand" href="#">
    <i class="fas fa-map"></i>
    Local
    <span class="font-weight-bold">MAPP</span>
  </a>
  <!-- logo -->
  <!-- boton responsive -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- boton responsive -->
  <!-- enlaces -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
  <!-- enlaces -->
</nav>


